@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.posenet{
    text-align: center;
    font-family: montserrat;
}

.color{
    color: #d81b60 ; 
    font-family: montserrat;
}